name: Manual Windows Package

on:
  workflow_dispatch:

env:
  PEM: ${{ secrets.PEM }}
  CLIENT_ID: ${{ secrets.CLIENT_ID }}
  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}

jobs:
  build_windows:
    name: Windows Client (Manual)
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - run: dart gen_secrets.dart

      - run: flutter build windows

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: node build-exe.js

      - run: .\enigmavbconsole.exe pack.evb

      - uses: actions/upload-artifact@v4
        with:
          name: inter_knot_windows_x64_boxed
          path: inter_knot_windows_x64_boxed.exe
